body {
    background: linear-gradient(45deg, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
    margin: 0;

}
div {
    color: azure;
    margin: 0 auto;
    background-image: url("img/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
    font-family: 'Coiny', cursive;
    width: 80%;
    
}
section {
    width: 27.8em;
    position: relative;
    left: 5em;
    top: 8em;
}
h1 {
    font-size: 2.5em;
    text-shadow: 3px 3px 5px white;
    
}
p {
    font-size: 1.2em;
}
img {
    width: 20em;
    height: 24em;
    float: right;
    position: relative;
    bottom: 6em;
    right: 10em;
}